<h1>Welcome#index</h1>
<div class ="form-box padding-formbox">
<h1> <center><a href="/mercs" font-size:36px class="a"><span style="color: #54cdc3"> Controle de Mercadorias </span></a></center></h1>
</div>
<div class ="form-box-2 padding-formbox">
<h1> <center><a color:FFF href="/tipo_mercs" font-size:36px class="a"><span style="color: #54cdc3"> Controle de Tipos de Mercadorias </span></a></center></h1>
</div>
<div class ="form-box-2 padding-formbox">
<h1> <center><a color:FFF href="/tipo_negs" font-size:36px class="a"><span style="color: #54cdc3"> Controle de Tipos de Negociação </span></a></center></h1>
</div>