<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_neg.descricao %>
</p>

     <center><a href="/mercs" class="a"><span style="color: #54cdc3"> Voltar </span></a></center>
