<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_merc.descricao %>
</p>

<br> <br> <center><a href="/tipo_mercs" class="a"><span style="color: #54cdc3"> Voltar ao menu</span></a></center></td>
